img {
    cursor: pointer;
}

.card {
    width: 280px;
    margin: auto;
    margin-top: 35px;
}

mat-card-title {
    text-align: center;
    margin-top: -30px;
}

mat-card-subtitle {
    color: black;
    text-align: center;
}

mat-card-header {
    display: block;
    background-color: #f1f1f1;
    height: 60px;
    border-radius: 10px;
}

.content {
    margin-left: 10px;
}

.container {
    background: #f1f1f1;
}

.tipo {
    background-color: #90EE90;
}

.altura {
    background-color: #FAFAD2;
}

.peso {
    background-color: #A52A2A;
}

#imgprincipal {
    width: 120px;
}